<!-- <div class="container-main">
	<div class="container-child">
		<div *ngFor="let product of products" class="product-item">
			<p class="font-poppins">ID: {{ product.id }}</p>
			<p class="font-poppins">Title: {{ product.title }}</p>
			<p class="font-poppins">Description: {{ product.description }}</p>
			<p class="font-poppins">Price: {{ product.price }}</p>
			<p class="font-poppins">Brand: {{ product.brand }}</p>
			<img [src]="product.thumbnail" alt="Product Thumbnail">
		</div>
	</div>
</div> -->

<div class="navbar">
	<p class="logo">SkinCare</p>

	<!-- <div class="form">
		<input type="text" [(ngModel)]="search" placeholder="Pesquise por produto" />
		<button type="submit" (click)="onSubmit()">
			<span class="material-symbols-outlined">
				search
			</span>
		</button>
	</div> -->
</div>

<div class="container-main">
	<div class="products-container">
		<div class="products">
			<div *ngFor="let product of products" class="product-item">
				<img [src]="product.thumbnail" alt="Product Thumbnail">
				<div class="text">
					<p class="product-title">{{ product.title }}</p>
					<p class="product-brand">{{ product.brand }}</p>
					<p class="product-price">R$ {{ product.price }},00</p>
					<button class="btn-details" (click)="openModal(product)">Mais detalhes</button>
				</div>
			</div>
		</div>
	</div>
</div>

<!-- Modal -->
<div id="myModal" class="modal">
    <div class="modal-content">
        <span class="close" (click)="closeModal()">&times;</span>
        <img [src]="selectedProduct?.thumbnail" alt="Product Thumbnail">
        <div class="text">
            <p class="product-title">{{ selectedProduct?.title }}</p>
            <p class="product-brand">{{ selectedProduct?.brand }}</p>
            <p class="product-price">R$ {{ selectedProduct?.price }},00</p>
            <!-- Add more details here if needed -->
        </div>
    </div>
</div>