@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Poppins", sans-serif;
}

p {
    font-family: "Poppins", sans-serif;
}

.products-container {
    display: grid;
    height: 90vh;
    place-items: center;
}

.products {
    display: flex;
    flex-direction: row;
    width: auto;

    padding: 0 200px;
    gap: 30px;
    flex-wrap: wrap;
}

.product-item {
    display: flex;
    flex-direction: column;
}

.product-item {
    width: calc(100% / 5 - 30px); /* 30px é a largura do gap */
}

.product-item:nth-child(5n + 1) {
    clear: left;
}

.text {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    height: 100%;
}

.product-item img {
    width: 100%;
    height: 150px;
    margin-bottom: 17px;
    object-fit: cover;
    border-radius: 10px;
}

.product-title {
    font-size: 18px;
    font-weight: 600;
}

.product-brand {
    font-size: 12px;
    color: rgb(153, 153, 153);
    margin-bottom: 10px;
}

.product-price {
    font-size: 20px;
    font-weight: 700;
    color: #E6701B;
}

.btn-details {
    width: 100%;
    margin-top: 10px;
    padding-top: 9px;
    padding-bottom: 9px;
    background-color: white;
    border: 1px solid #E6701B;
    color: #E6701B;
    cursor: pointer;
    transition: .3s;
    justify-self: flex-end;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-size: 12px;
    border-radius: 10px;
}

.btn-details:hover {
    background-color: #E6701B;
    color: white;
}

/* modal styles */

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
}

.modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 40px;
    border: none;
    width: 80%;
    max-width: 650px;
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 30px;
    border-radius: 15px;
}

.modal-content img {
    width: 50%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
}

.close {
    position: absolute;
    color: #aaa;
    top: 15px;
    right: 25px;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.product-description {
    font-size: 16px;
    margin-top: 15px;
}

.product-title-modal {
    font-size: 22px;
    font-weight: 600;
    margin-top: 15px;
}

.btn-buy {
    width: 100%;
    margin-top: 20px;
    padding-top: 9px;
    padding-bottom: 9px;
    background-color: #E6701B;
    border: none;
    color: #fff;
    cursor: pointer;
    transition: .3s;
    justify-self: flex-end;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-size: 12px;
    transition: .3s;
    border-radius: 10px;
}

.btn-buy:hover {
    background-color: #ff862f;
}

/* searchbar and navbar */

.btn-search {
    display: block;
    place-items: center;
    background-color: transparent;
    border: none;
    cursor: pointer;
    margin-left: -35px;
}

.searchbar, .navbar, .right {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.navbar {
    justify-content: space-between;
    width: 90%;
    margin: 0 auto;
    margin-top: 20px;
}

input {
    width: 400px;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 16px;
    border: 1px solid #ccc;
    border-radius: 10px;
    font-family: "Poppins";
}

input::placeholder {
    color: #ccc;
}

input:focus {
    border: 1px solid salmon;
}

.btn-cart {
    margin-right: 15px;
    cursor: pointer;
}